@font-face {
  font-family: "Georgia";
  src: url("./fonts/Georgia.woff2"), url("./fonts/Georgia.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("./fonts/ArialMT.woff2"), url("./fonts/ArialMT.woff");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia";
  font-weight: 400;
}
.btn {
  height: 52px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.first__screen {
  display: flex;
  flex-direction: column;
  background: url("./images/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

h1 {
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 44px;
  line-height: 130%;
  max-width: 340px;
  color: #ffffff;
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.btn {
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}

/* section FIRST SCREEN */

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

nav {
  width: 483px;
  align-items: center;
}

nav ul {
  display: flex;

  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  line-height: 160%;
  color: #cdcdcd;
}
nav ul li a:hover{
  color: #FAFAFA;
  transition: all 0.45s cubic-bezier(0.25, 0, 0.076, 1);
  text-align: center;
  text-transform: uppercase;
}

.link__underline {
  border-bottom: 3px solid #f1cdb3;
}

.main-page__content {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin: 0 40px 75px 0;
}

.main-page__wrapper {
  display: flex;
  align-items: center;
}

.main-page__btn {
  width: 207px;
  align-items: center;
  border: none;
  background: #f1cdb3;
  border-radius: 100px;
}

.btn__text {
  font-family: "Georgia";
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.main-page__text {
  line-height: 160%;
  color: #cdcdcd;
}

/* section ABOUT-SHELTER */
.about-shelter {
  padding: 80px 0 100px 0;
}

.about-shelter__tittle {
  max-width: 320px;
}

.about-shelter__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.about-shelter__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 420px;
}

.about__shelter__text {
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

/* section OUR-FRIENDS */
.our-friends {
  padding: 80px 0 100px 0;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.our-friends h3 {
  text-align: center;
}

.card__carousel{
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-friends__slider__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 435px;
  width: 270px;
}

.btn__learn-more {
  width: 185px;
  background: none;
  border: 2px solid #f1cdb3;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
}

.our-friends__btn {
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  width: 261px;
}

.pet-name {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.slider__arrow {
  border-radius: 100%;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section HELP */
.help {
  padding: 80px 0 100px 0;
}

.help h3 {
  text-align: center;
}

.help-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.help-card h4 {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}

/* section DONATION */
.donation {
  padding: 80px 0 100px 0;
}

.donation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donation__content {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  gap: 20px;
}

.donation h5 {
  line-height: 110%;
  display: flex;
  letter-spacing: 0.06em;
  color: #545454;
  margin: -1px 0 0 0;
  font-size: 15px;
  align-items: center;
}

.donation__text {
  font-family: "Arial";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.donation__card-number {
  display: flex;
  gap: 14px;
  background: #f1cdb3;
  border-radius: 9px;
  border: none;
  align-items: center;
  padding: 10px 15px;
  max-width: 349px;
}

.donation__card-number a {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* footer */
.footer {
  padding-top: 40px;
  background: url("./images/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__wrapper {
display: flex;
justify-content: space-between;
}

.footer h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer__contacts,
.footer__location {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__location{
  gap: 33px;
}

.footer__contacts__item,
.footer__location__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer a {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
